#controls div{
    width: 100px;
    height: 100px;
    position: absolute;
}
#controls>div:nth-child(1){
    background: #ff0000;
    left: 100px;
}
#controls>div:nth-child(2){
    background: #00ff00;
    left: 210px;
}
#controls>div:nth-child(3){
    background: #0000ff;
    left: 320px;
}
#controls>div:nth-child(4){
    background: #663d39;
    color: white;
    left: 430px;
}
#controls>div:nth-child(5){
    background: #3c0470;
    color: white;
    left: 540px;
}
#controls>div:nth-child(6){
    background: #d8d804;
    color: rgb(0, 0, 0);
    left: 650px;
}
#controls>div:nth-child(7){
    background: #d8d804;
    color: black;
    left: 760px;
}
#controls>div:nth-child(8){
    background: #d8d804;
    color: black;
    left: 870px;
}
