.control_btns>div{
    width: 100px;
    height: 100px;
    display:inline-block;
}
.control_btns>:nth-child(2){
    background: #ff0000;
}
.control_btns>:nth-child(3){
    background: #00ff00;
}
.control_btns>:nth-child(4){
    background: #0000ff;
}
.control_btns>:nth-child(5){
    background: #663d39;
    color: white;
}
.control_btns>:nth-child(6){
    background: #3c0470;
    color: white;
}
.control_btns>:nth-child(7){
    background: #d8d804;
    color: rgb(0, 0, 0);
}
.control_btns>:nth-child(8){
    background: #d8d804;
    color: black;
}
.control_btns>:nth-child(9){
    background: #d8d804;
    color: black;
}